@layer base, utils, components;

/* Import WebTUI base styles */
@import "@webtui/css/base.css";

/* Import all WebTUI components */
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/checkbox.css";
@import "@webtui/css/components/dialog.css";
@import "@webtui/css/components/input.css";
@import "@webtui/css/components/popover.css";
@import "@webtui/css/components/pre.css";
@import "@webtui/css/components/progress.css";
@import "@webtui/css/components/radio.css";
@import "@webtui/css/components/range.css";
@import "@webtui/css/components/separator.css";
@import "@webtui/css/components/spinner.css";
@import "@webtui/css/components/switch.css";
@import "@webtui/css/components/table.css";
@import "@webtui/css/components/textarea.css";
@import "@webtui/css/components/tooltip.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/view.css";

/* Import WebTUI utilities */
@import "@webtui/css/utils/box.css";
